.background-image {
    background-image: url('/pics/Wedding_bg.jpg'); 
    height: 100vh;
    background-size: cover;
    filter: blur(8px);
}

.bg-light {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }

#main_menu {
    font-family: 'Tangerine', serif;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(119, 87, 28);
}
.btn-success {
    background-color:rgb(136, 99, 5);
    color: rgb(160, 147, 114);
    border-color: rgb(136, 99, 5);
}
.btn-success:hover {
    background-color:rgb(73, 53, 3);
    border-color: rgb(73, 53, 3);
    color: rgb(236, 202, 116);
}
