.background-image {
  backdrop-filter: blur(6px);
  height: 100vh;
}


#simple-text {
  color: rgb(119, 87, 28);
}
#main_menu {
  
  padding: 5px;
  font-family: "Tangerine", serif;
  font-weight:500;
  font-size: 60px;
  color: rgb(119, 87, 28);
}
.btn-warning {
  background-color: rgb(136, 99, 5);
  color: rgb(160, 147, 114);
  border-color: rgb(136, 99, 5);
}
.btn-warning:hover {
  background-color: rgb(73, 53, 3);
  border-color: rgb(73, 53, 3);
  color: rgb(236, 202, 116);
}
body {
  background-image: url("../pics/Wedding_bg.jpg");
  background-size: cover;
}

#greet {
  font-family: "Tangerine", serif;
  font-weight: 200;
  color: rgb(119, 87, 28);
}